@import "variables";

@mixin btn-color($background, $color, $border-color) {
    background-color: $background;
    color: $color;
    border-color: $border-color; // important, for buttons with transparent backgrounds

    &:hover {
        background: lighten($background, 5%);
        outline-color: transparentize($background, 0.8);
    }
    &:focus {
        background: darken($background, 5%);
    }
}

// standard buttons

.btn {
    padding: $btn-padding;
    border-radius: $btn-radius;
    font-weight: $btn-weight;
    cursor: pointer;
    border: 2px solid;
    transition: all 0.15s ease;
    font-size: 16px;
    outline: 6px solid transparent;

    &.btn-primary {
        @include btn-color($clr--theme, white, $clr--theme);
    }

    &.btn-accent {
        @include btn-color($clr--accent, white, $clr--accent);
    }

    &.btn-transparent {
        @include btn-color(white, $clr--accent, $clr--accent);

        &:hover {
            background: darken(white, 5%);
        }
        &:focus {
            background: darken(white, 7%);
        }
    }
}

// none-important button with transparent background

// input type file button customize
.upload-photo {
    @include btn-color(white, $clr--theme, $clr--theme);
    width: 150px;
    text-align: center;
}

.upload-photo:hover {
    background-color: darken(white, 5%);
}
