@import "variables";

#posts {
  display: flex;
  flex-direction: column-reverse; // Makes the menu output more correct
}

.post {
  position: relative;

  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 30px;

  .more {
    position: absolute;
    right: 0;
    top: 0;

    // dotes for view menu
    .material-symbols-outlined {
      //border-radius: 100px;
      cursor: pointer;
      position: absolute;
      right: 0;
      color: transparentize($clr--text, 0.5);

      &:hover {
        background-color: $clr--theme__hover;
      }
    }

    // menu
    ul {
      margin-top: 25px;
      background-color: white;
      border: 1px solid transparentize($clr--text, 1);
      padding: 0;

      a {
        text-decoration: none;
        color: $clr--text;

        li {
          list-style: none;
          padding: 5px 100px 5px 5px;

          &:hover {
            background-color: $clr--theme__hover;
            cursor: pointer;

            // Alerts
            &.danger {
              background-color: $clr--red;
              color: white;
            }
            &.warn {
              background-color: $clr--yellow;
            }
          }
        }
      }
    }
  }

  // Container with reactions to posts
  .post--reactions {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    .reaction {
      display: flex;
      align-items: center;
      gap: 5px;
      user-select: none;
      cursor: pointer;

      p {
        color: transparentize($clr--text, 0.3);
        font-size: 14px;
        transition: all 0.2s ease;
      }

      .material-symbols-outlined {
        color: transparentize($clr--text, 0.5);
        transition: all 0.2s ease;
      }

      &.active {
        * {
          color: $clr--text;
        }
      }

      &:hover {
        cursor: pointer;

        .material-symbols-outlined {
          color: $clr--text;
        }

        p {
          color: $clr--text;
        }
      }

      &.important {
        &:hover { // A smooth zoom animation is added to important reactions
          .material-symbols-outlined {
            transform: scale(120%);
          }
        }

        &.active {
          .material-symbols-outlined {
            transform: scale(120%);
            color: $clr--red;
          }
        }
      }

    }
  }
}