@keyframes yo-yo {
  0% { transform: translateY(10%); }
  50% { transform: translateY(-10%); }
  //100% { margin-top: 0 }
}

@keyframes yo-yo-sideways {
  0% { transform: translateX(75%) translateY(2%); }
  50% { transform: translateX(95%) translateY(2%); }
  100% { transform: translateX(85%) translateY(2%); }
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.1s linear !important;
  animation: yo-yo 0.2s alternate;
}

.show.yo-yo-sideways {
  animation: yo-yo-sideways 0.2s alternate !important;
}

.yo-yo {
  animation: yo-yo 0.2s alternate;
}