// width variations
$widths: (
        '100px': 100px,
        '200px': 200px,
        '400px': 400px,
        '50': 50%,
        '100': 100%,
);

@each $name, $size in $widths {
  .w#{$name} {
    width: $size;
  }
}

// margins and paddings variations
$indents: (
        '6': 6px,
        '12': 12px,
        '24': 24px,
        '48': 48px,
);

@each $name, $size in $indents {
  // margins top
  .mt#{$name} {
    margin-top: $size;
  }
  // margins bottom
  .mb#{$name} {
    margin-bottom: $size;
  }
  // margins right
  .mr#{$name} {
    margin-right: $size;
  }
  // margins left
  .ml#{$name} {
    margin-left: $size;
  }

  // paddings top
  .pt#{$name} {
    padding-top: $size;
  }
  // paddings bottom
  .pb#{$name} {
    padding-bottom: $size;
  }
  // paddings right
  .pr#{$name} {
    padding-right: $size;
  }
  // paddings left
  .pl#{$name} {
    padding-left: $size;
  }
}